<div class="row">
  <div class="col login-form text-center">
    <img src="./assets/images/AWEColor1.png" width="250px"/>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h3>Login</h3>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" formControlName="username" id="username" autocomplete="off">
        <div class="error" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">Please enter username.</div>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" formControlName="password" id="pwd" autocomplete="off">
        <div class="error" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Please enter password.</div>
      </div>
      <button class="btn btn-success" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
</div>
