<div class="row">
  <div *ngIf="registrationStatus=='open'" class="col login-form text-center">
    <img class="mb-4" src="./assets/images/AWEBlack.png" width="250px"/>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="px-5">
        <div class="form-group">
          <input type="text" formControlName="username" placeholder="Username" name="username" class="form-control" id="username">
        </div>
        <div class="form-group">
          <input type="text" formControlName="email" placeholder="E-Mail" name="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <input type="password" formControlName="password" placeholder="Password" name="password" class="form-control" id="password">
        </div>
        <div class="form-group">
          <input type="password" formControlName="password2" placeholder="Confirm Password" name="password2" class="form-control" id="password2">
        </div>
        <!-- <div class="form-group">
          <re-captcha class="text-center d-flex justify-content-center" formControlName="reCaptcha" name="reCaptcha" id="reCaptcha" (resolved)="resolved($event)" siteKey='6LdeStsZAAAAAO_XpcvZ0HlHeD-7iR0t6ZR_HJrD'></re-captcha>
        </div> -->
        <button class="btn btn--primary">Register</button>
        </form>
      </div>
      <div *ngIf="registrationStatus!='open' || !registrationStatus" class="col text-center py-5">
        <h1>Sorry!</h1>
        <h2>Registration is currently closed</h2>
      </div>
</div>
