<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 mb-4">
      <div class="card">
        <div *ngIf="fetchedUserData.username" class="card-body">
          <h5 class="card-title">
            <img src="{{fetchedUserData.image}}"> {{fetchedUserData.username | titlecase}}
          </h5>
          <hr />
          <p>{{fetchedUserData.fname}} {{fetchedUserData.lname}}</p>
          <p>Role: {{fetchedUserData.role | titlecase}}</p>
          <p>{{fetchedUserData.email}}</p>
          <p>{{fetchedUserData.phone}}</p>
          <p>Address:<br/>{{fetchedUserData.street}},<br/>{{fetchedUserData.city}}, {{fetchedUserData.state}}<br/>{{fetchedUserData.country}}</p>
          <a class="social-link" href="{{fetchedUserData.twitter}}" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a>
          <a class="social-link" href="{{fetchedUserData.instagram}}" target="_blank"><fa-icon [icon]="faInsta"></fa-icon></a>
          <a class="social-link" href="{{fetchedUserData.facebook}}" target="_blank"><fa-icon [icon]="faFacebook"></fa-icon></a>
          <a class="social-link" href="{{fetchedUserData.linkedin}}" target="_blank"><fa-icon [icon]="faLinkedIn"></fa-icon></a>
          <a class="social-link" href="{{fetchedUserData.youtube}}" target="_blank"><fa-icon [icon]="faYoutube"></fa-icon></a>
        </div>
        <div *ngIf="!fetchedUserData.username" class='card-body'>
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
