<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h3>App Operations</h3>
          <hr/>
          <a (click)="open(createAlert)" class="btn btn--primary mx-2">Create Global Alert</a>
          <a (click)="open(activeAlerts)" class="btn btn-primary mx-2">Active Alerts</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h3>User Operations</h3>
          <hr/>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h3>DEBUG Operations</h3>
          <hr/>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h3>Other Operations</h3>
          <hr/>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #createAlert let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Create Alert</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mx-1">
    <form [formGroup]="createAlertForm" (ngSubmit)="createAlertSubmit()" class="mt-3">
    <div class="form-group">
      <label for="alertMessage">Alert Message:</label>
      <input type="text" class="form-control" formControlName="alertMessage" id="alertMessage" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="alertType">Alert Type:</label>
      <select class="form-control" formControlName="alertType" id="alertType">
        <option value="show">Show</option>
        <option value="info">ℹ️ Info</option>
        <option value="success">✅ Success</option>
        <option value="warning">⚠️ Warning</option>
        <option value="error">❌ Error</option>
      </select>
    </div>
    <div class="form-group">
      <label for="alertTheme">Alert Theme:</label>
      <select class="form-control" formControlName="alertTheme" id="alertTheme">
        <option value="toast">Light</option>
        <option value="snackbar">Dark</option>
      </select>
    </div>
    <div class="form-group">
      <label for="alertAutoclose">Auto-Close: {{this.createAlertForm.controls.alertAutoclose.value}}</label>
      <br/>
      <input type="checkbox" formControlName="alertAutoclose" id="alertAutoclose">
    </div>
    <div class="form-group">
      <label for="alertPersist">Persist: {{this.createAlertForm.controls.alertPersist.value}}</label>
      <br/>
      <input type="checkbox" formControlName="alertPersist" id="alertPersist">
    </div>
    <div *ngIf="this.createAlertForm.controls.alertPersist.value == true" class="persistOptions">
      <div class="form-group">
        <label for="persistID">Persist ID</label>
        <br/>
        <input type="text" class="form-control" formControlName="persistID" id="persistID">
      </div>
      <div class="form-group">
        <label for="persistCount">Persist Count</label>
        <br/>
        <input type="number" class="form-control" formControlName="persistCount" id="persistCount">
      </div>
    </div>
    <button (click)="modal.close()"  class="btn btn--primary">Create Alert</button>
  </form>
  </div>
</ng-template>

<ng-template #activeAlerts let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Active Global Alerts</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mx-1">

  </div>
</ng-template>
