<div *ngIf="isLoggedIn==true" class="container-fluid">
  <div id="sidebar" class="{{sidebarStatus}}">
    <a class="nav-toggle" (click)="toggleSidebar()"><fa-icon [icon]="faBars"></fa-icon></a>
    <div class="logo-container">
      <a *ngIf="logoCollapsed==false" href="/"><img class="logo {{logoStatus}}" src="../assets/images/AWEWhite.png"></a>
      <a *ngIf="logoCollapsed==true" href="/"><img class="logo-icon" src="../assets/images/AWEIcon.png"></a>
      <h3 class="{{logoStatus}}" *ngIf="sidebarCollapsed==false">Angular Web Engine</h3>
      <hr class="{{logoStatus}}"/>
    </div>
    <div *ngIf="sidebarCollapsed==false" class="sidebar-nav">
      <ul>
        <a routerLink="/"><li><fa-icon class="menu-icon" [icon]="faChalkboard"></fa-icon><span *ngIf="showFullLink==true">Dashboard</span></li></a>
        <a routerLink="/clients"><li><fa-icon class="menu-icon" [icon]="faUserFriends"></fa-icon><span *ngIf="showFullLink==true">Clients</span></li></a>
        <a routerLink="/projects"><li><fa-icon class="menu-icon" [icon]="faProjectDiagram"></fa-icon><span *ngIf="showFullLink==true">Projects</span></li></a>
        <a routerLink="/tasks"><li><fa-icon class="menu-icon" [icon]="faStickyNote"></fa-icon><span *ngIf="showFullLink==true">Tasks</span></li></a>
      </ul>
    </div>
    <div *ngIf="sidebarCollapsed==true" class="sidebar-nav mini">
      <ul>
        <a class="{{logoStatus}}" routerLink="/"><li><fa-icon class="menu-icon" [icon]="faChalkboard"></fa-icon></li></a>
        <a class="{{logoStatus}}" routerLink="/clients"><li><fa-icon class="menu-icon" [icon]="faUserFriends"></fa-icon></li></a>
        <a class="{{logoStatus}}" routerLink="/projects"><li><fa-icon class="menu-icon" [icon]="faProjectDiagram"></fa-icon></li></a>
        <a class="{{logoStatus}}" routerLink="/tasks"><li><fa-icon class="menu-icon" [icon]="faStickyNote"></fa-icon></li></a>
      </ul>
    </div>
  </div>
  <div id="main" class="{{sidebarStatus}}">
    <app-topbar></app-topbar>
    <router-outlet></router-outlet>
  </div>
</div>
<div *ngIf="isLoggedIn==false || !isLoggedIn" class="container mt-5">
  <app-login></app-login>
</div>
