<app-topbar></app-topbar>
<div class="container my-5">
    <div class="row text-center">
      <div class="col">
        <div class="logo">
          <img src="../assets/images/AWEWhite.png">
        </div>
        <br/>
        <h1>Welcome to Angular Web Engine</h1>
        <h2>A fully <span>customizable</span> Dashboard</h2>
        <p class="text-white mizzy" style="font-style: italic;">By Mizzy</p>
        <a class="social-link" href="https://twitter.com/mizzyexists" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a>
        <a class="social-link" href="https://github.com/mizzyexists" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
        <a class="social-link" href="https://mizzy.dev/mizzy" target="_blank"><fa-icon [icon]="faGitlab"></fa-icon></a>
        <hr/>
      </div>
    </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-lg-6">
      <div class="card text-lg-left text-center">
        <h3>AWE was <span>lost</span></h3>
        <p>After working on AWE v1 for almost a year, the entire backend API was wiped during a failed server migration.<br/>There was no backup...</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card text-lg-left text-center">
        <h3>AWE is <span>reborn</span></h3>
        <p>After the loss of the old backend, AWE was left virtually useless. Until...<br/><br/><i>AWE v2 was born</i></p>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="card text-center">
        <h3>Whats <span>New?</span></h3>
        <p>There is much to do as AWE is completely rebuilt.<br/>New frontend, backend, security overhauls, and much more.</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
