input::placeholder {
    color: #00000026 !important;
}

.avatar{
  max-width: 200px;
  margin: auto;
  display: block;
  border-radius: 200px;
}

h5{
  p{
    font-size: 26px;
    padding: 20px;
  }
}
