input::placeholder {
    color: #00000026 !important;
}

.avatar{
  max-width: 200px;
  margin: auto;
  display: block;
  border-radius: 200px;
  background-color: #000;
}

h5{
  p{
    font-size: 26px;
    padding: 20px;
  }
}

.delete-btn{
  float: right;
}

.deleteText{
  font-weight: bold;
  font-size: 20px;
  color: red;
  text-transform: uppercase;
}

#deleteConfirm, #deleteConfirm::placeholder {
    text-align: center;
}

.other-option{
  margin-top: 10px;
  color: grey;
  cursor: pointer;
  display: block;
}
