/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

h1, h2, h3, h4, h5, h6, p, a, li, span{
  font-family: "Lato", sans-serif;
}

$primary: #8124ff;

.btn{
  &.btn--primary{
    background-color: $primary;
    border-color: $primary;
    color: #fff;
    &:hover{
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      color: #fff;

    }
    &:disabled{
      background-color: #aaa;
      border-color: #aaa;
      color: #ddd;
    }
  }
}

.dropdown-menu{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 0px !important;
}
.card{
  border: 1px solid #00000005 !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#home-route{
  #topbar{
    color: #fff;
  }
  .reg-login{
    a{
      color: #fff !important;
    }
  }
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.switch-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: grey;
  transition: all .3s ease;
  display: block;
  border-radius: 100px;
  position: relative;
}

.switch-label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + .switch-label {
  transition: all .3s ease;
	background: #5e1dc1;
}

input:checked + .switch-label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.switch-label:active:after {
	width: 10px;
}
