<div class="noti-container" ngbDropdown #notiDrop="ngbDropdown" autoClose="outside">
  <a id="notiDrop" ngbDropdownToggle><fa-icon [icon]="faBell"></fa-icon><span *ngIf="notiCount" class="notiIndicator">{{notiCount}}</span></a>
  <div ngbDropdownMenu aria-labelledby="notiDrop">
      <a *ngIf="notiCount > 0" (click)="clearNotis();" class="clearAllBtn">Clear All Notifications<span class="pl-1">({{notiCount}})</span></a>
      <div class="notiItem" *ngFor="let noti of notifications" ngbDropdownItem (click)="navigateNoti(noti.noti_id,noti.slug)">
        <span *ngIf="noti.readbyuser=='false'" class="unread-text">NEW</span>
        <p *ngIf="noti.readbyuser=='false'" class="unread"><b>{{noti.title}}</b></p>
        <p *ngIf="noti.readbyuser=='false'" class="unread" [innerHTML]="noti.body"></p>
        <p *ngIf="noti.readbyuser=='true'"><b>{{noti.title}}</b></p>
        <p *ngIf="noti.readbyuser=='true'" [innerHTML]="noti.body"></p>
      </div>
      <div *ngIf="!notifications" class="notiItem" ngbDropdownItem>
        <p class="text-center">No Notifications</p>
      </div>
      <a *ngIf="notiCount == 0 && notifications" (click)="open(confirmNotiDelete);" class="deleteAllBtn">Delete All Notifications</a>
  </div>
</div>

<ng-template #confirmNotiDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center mx-1">
    <p>Are you sure you want to delete all read notifications?</p>
    <a (click)="deleteNotis(); modal.close();" class="btn btn-danger mx-1">Delete All Notifications</a>
    <a (click)="modal.close();" class="btn btn--primary mx-1">Cancel</a>
  </div>
</ng-template>
